body{
    width: 1300px;
    margin-left: 24px;
}

#header{
    background-color: rgb(121, 115, 115);
    height: 90px;
    color: white;
    
}

#header span{
    margin-left: 12%;
    font-size: 50px;
    float: left;
    padding: 9px;
}

#header sub{
    font-size: small;
}

#nav a{
    text-decoration: none;
    padding: 15px;  
    color: white;

}

#nav a:hover{
    background-color: white;
    color: black;
    border-radius: 8px 8px 8px;
}

#nav{ 
    float: right;
    padding: 39px;
    margin-right: 250px;
}

#main{
    height: 520px;
}

#main img{
    background-repeat: no-repeat;
    height: 625px;
    width: 1300px;
    object-fit: fill;
    position: relative;
}

#article{
    background-color: white;
    height: 50px;
    width: 50px;
    position: absolute;
}