body{
    text-align: center;
}

#counter{
    font-size: 10em;
}

button{
    padding: 10px 10px;
    background-color: rgb(136, 136, 172);
}

button:hover{
    background-color: white;
    color: black;
}

#increase{
    background-color: green;
}

#decrease{
    background-color: red;
}